$Moderate-violet: hsl(263, 55%, 52%);
$Very-dark-grayish-blue: hsl(217, 19%, 35%);
$Very-dark-blackish-blue: hsl(219, 29%, 14%);
$White: hsl(0, 0%, 100%);
$Light-gray: hsl(0, 0%, 81%);
$Light-grayish-blue: hsl(210, 46%, 95%);
$paragraph-font: 13px;
$header-font: 1rem;
$padded-spaces: .7rem;


html {
    box-sizing: border-box;
    font-size: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.sr-only {
    border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important; 
}

body {
    min-height: 100vh;
    text-rendering: optimizeLegibility;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: $Light-grayish-blue;
    line-height: 1.6;
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
}

.body-p {
    font-size: $paragraph-font;
}

.header-p {
    font-size: $header-font;
}

h2 {
    font-size: 0.9rem;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 2rem;
}

.container {
    width: 85vw;
    margin: 2rem auto;
    display: flex;
    flex-flow: column wrap;
    flex: auto;
    gap: 1.7rem;
    .profile {
        display: flex;
        flex-wrap: wrap;
    }
}

.testimonial {
    text-align: left;
    padding: 1.5rem;
    border-radius: .5rem;
}


.profile {
    padding-block-end: $padded-spaces;
}

.details {
    margin-inline-start: 1rem;
    p {
        font-size: 11px;
    }
}

.bg-white {
    box-shadow: 14px 14px 30px -5px rgba(0,0,0,.2);
}

.first-section {
    background-color: $Moderate-violet;
    color: $Light-gray;
    position: relative;
    z-index: 2;
    p[data-type="primary"] {
        color: inherit;
        opacity: .5;
    }
    p[data-type="secondary"] {
        color: inherit;
        opacity: .7;
    }
}

.first-section::after {
    content: url(/images/bg-pattern-quotation.svg);
    position: absolute;
    top: 0;
    right: 5rem;
    z-index: -1;
}

.second-section {
    background-color: $Very-dark-grayish-blue;
    color: $White;
    p[data-type="primary"] {
        color: inherit;
        opacity: .5;
    }
    p[data-type="secondary"] {
        color: inherit;
        opacity: .7;
    }
}

.third-section {
    background-color: $White;
    p[data-type="primary"] {
        color: inherit;
        opacity: .5;
    }
    p[data-type="third-p"] {
        color: inherit;
        opacity: .8;
    }
    p[data-type="secondary"] {
        color: inherit;
        opacity: .7;
    }
}



.fourth-section {
    background-color: $Very-dark-blackish-blue;
    color: $White;
    p[data-type="primary"] {
        color: inherit;
        opacity: .5;
    }
    p[data-type="secondary"] {
        color: inherit;
        opacity: .7;
    }
}

.fifth-section {
    background-color: $White;
    p[data-type="primary"] {
        color: inherit;
        opacity: .5;
    }
    p[data-type="fifth-p"] {
        color: inherit;
        opacity: .8;
    }
    p[data-type="secondary"] {
        color: inherit;
        opacity: .7;
    }
}


.attribution {
    font-size: 11px;
}

.first-section {
    grid-area: first-section;
}
.second-section {
    grid-area: second-section;
}
.third-section {
    grid-area: third-section;
}
.fourth-section {
    grid-area: fourth-section;
}
.fifth-section {
    grid-area: fifth-section;
}

@media (min-width: 769px) {
    .container {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        grid-template-areas: 
        "first-section first-section third-section"
        "second-section fourth-section fourth-section"
        "fifth-section fifth-section fifth-section";
    }
}

@media (min-width: 1024px) {
    .container {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        "first-section first-section second-section fifth-section"
        "third-section fourth-section fourth-section fifth-section";
    }
}
