$Moderate-violet: hsl(263, 55%, 52%);
$Very-dark-grayish-blue: hsl(217, 19%, 35%);
$Very-dark-blackish-blue: hsl(219, 29%, 14%);
$White: hsl(0, 0%, 100%);
$Light-gray: hsl(0, 0%, 81%);
$Light-grayish-blue: hsl(210, 46%, 95%);
$paragraph-font: 13px;
$header-font: 1.2rem;
$padded-spaces: .7rem;

// Global styles

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 1.6;
    text-align: center;
    background: $Light-grayish-blue;
}

p {
    font-size: $paragraph-font;
}

h2 {
    font-size: $header-font;
    padding-block-end: $padded-spaces;
}

h3 {
    font-size: 0.9rem;
}

img {
    display: block;
    max-width: 100%;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 2rem;
}

.container {
    width: 85vw;
    margin: 3rem auto;
    display: flex;
    flex-flow: column wrap;
    flex: auto;
    .profile {
        display: flex;
    }
}

.testimonial {
    margin-block-end: 1.3rem;
    padding: 1.5rem;
    text-align: left;
    border-radius: .5rem;
}

.testimonial:last-of-type {
    margin-block-end: 0;
}

.profile {
    padding-block-end: $padded-spaces;
}

.details {
    margin-inline-start: 1rem;
}

.bg-white {
    box-shadow: 14px 14px 30px -5px rgba(0,0,0,.2);
}

h4 {
    font-size: 11px;
}

.first-section {
    background-color: $Moderate-violet;
    color: $Light-gray;
    position: relative;
    z-index: 2;
    h4 {
        color: inherit;
        opacity: .5;
    }
    p {
        color: inherit;
        opacity: .7;
    }
}

.first-section::after {
    content: url(/images/bg-pattern-quotation.svg);
    position: absolute;
    top: 0;
    right: 5rem;
    z-index: -1;
}

.second-section {
    background-color: $Very-dark-grayish-blue;
    color: white;
    h4 {
        color: inherit;
        opacity: .5;
    }
    p {
        color: inherit;
        opacity: .7;
    }
}

.third-section {
    background-color: $White;
    h4 {
        color: inherit;
        opacity: .5;
    }
    h2 {
        color: inherit;
        opacity: .8;
    }
    p {
        color: inherit;
        opacity: .7;
    }
}

.fourth-section {
    background-color: $Very-dark-blackish-blue;
    color: $White;
    h4 {
        color: inherit;
        opacity: .5;
    }
    p {
        color: inherit;
        opacity: .7;
    }
}

.fifth-section {
    background-color: $White;
    h4 {
        color: inherit;
        opacity: .5;
    }
    h2 {
        color: inherit;
        opacity: .8;
    }
    p {
        color: inherit;
        opacity: .7;
    }
}

.attribution {
    font-size: 11px;
}

@media (min-width: 700px) {
    .container {
        max-width: 1200px;
        display: grid;
        // grid-template-columns: repeat(4, minmax(200px, 1fr));
        grid-template:
        "first-section first-section second-section fifth-section" auto
        "third-section fourth-section fourth-section fifth-section" auto
        /1fr 1fr 1fr 1fr;
        gap: 1.5rem;
    }

    .first-section {
        grid-area: first-section;
        transition: transform 250ms ease-in-out;
    }
    .second-section {
        grid-area: second-section;
        transition: transform 250ms ease-in-out;
    }
    .third-section {
        grid-area: third-section;
        transition: transform 250ms ease-in-out;
    }
    .fourth-section {
        grid-area: fourth-section;
        transition: transform 250ms ease-in-out;
    }
    .fifth-section {
        grid-area: fifth-section;
        transition: transform 250ms ease-in-out;
    }
    .first-section:hover {
        transform: scale(1.1);
    }
    .second-section:hover {
        transform: scale(1.1);
    }
    .third-section:hover {
        transform: scale(1.1);
    }
    .fourth-section:hover {
        transform: scale(1.1);
    }
    .fifth-section:hover {
        transform: scale(1.1);
    }
}

.attribution a { color: hsl(228, 45%, 44%); }
